* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #898989;
    --intermediate-color: #d50000;
}

.head-logo {
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem;
}

.head-logo h1 {
    margin-right: 1rem;
}

.head-logo .fa-bread-slice {
    color: var(--intermediate-color);
    font-size: 34px;
}

.sign-up {
    margin: 0 auto 3rem;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    box-shadow: 2px 6px 10px var(--secondary-color);
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
}

input {
    padding: 5px;
    outline: none;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fName input,
.lName input {
    width: 250px;
}

.cities,
.states,
.contact,
.pass-word {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    margin-top: 1rem;
}

.cities input,
.states input,
.contact input,
.pass-word input {
    width: 220px;
}

button {
    width: 100%;
    height: 40px;
    background-color: var(--intermediate-color);
    color: var(--primary-color);
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
}