* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #898989;
    --intermediate-color: #d50000;
}

.nave,
.logo,
.user-data,
.user-account,
.user-cart,
.cart-side-bar .items {
    display: flex;
}

.nave {
    width: 100%;
    justify-content: space-between;
    padding: 25px 30px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--intermediate-color);
}

.logo h3 {
    margin-right: 1rem;
}

.logo .fa-bread-slice {
    color: var(--intermediate-color);
    font-size: 22px;
}

.user-account span{
    margin-right: 10px;
}

.user-account .fa-user {
    display: none;
}

.user-account i {
    font-size: 18px;
}

.user-account {
    cursor: pointer;
}

.close-modal {
    width: 100vw;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #89898980;
    display: none;
}

.dis-user-account {
    position: absolute;
    top: 3.5rem;
    right: 5%;
    z-index: 3;
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 17px #000000;
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
    display: none;
}

.dis-user-account .dis-user-signIn {
    width: 100%;
    background-color: var(--intermediate-color);
    border: none;
    border-radius: 10px;
    height: 40px;
    color: var(--primary-color);
    font-weight: 700;
    transition: .8s;
    margin-bottom: 10px;
}

.dis-user-account .dis-user-signIn:hover {
    background-color: #ab0000;
}

.dis-user-account ul li {
    list-style: none;
    line-height: 40px;
    transition: .8s;
}

.dis-user-account ul li:hover {
    background-color: #89898956;
    border-radius: 5px;
}

.dis-user-account ul li a,
.logo h3 a  {
    text-decoration: none;
    color: #000000;
}

.cart-main-items {
    width: 100%;
    padding: 10px 60px;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.cart-cont {
    background-color: var(--primary-color);
    padding: 20px;
    width: 700px;
    box-shadow: 2px 6px 10px var(--secondary-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
}

.cart-main {
    width: 100%;
    border: 1px solid var(--intermediate-color);
    padding: 10px;
    border-radius: 6px;
}

.cart-main-flex {
    display: flex;
}

.cart-main-flex img {
    width: 100px;
    height: 70px;
    border-radius: 7px;
}

.cart-main-dis {
    margin: 5px 0 0 10px;
}

.cart-main-dis h5 {
    margin-bottom: 5px;
}

.cart-main .cart-del-or-add {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;
}

.cart-main .cart-del-or-add .del {
    color: var(--intermediate-color);
}

.cart-main .cart-del-or-add .del span {
    margin-left: 5px;
}

.cart-main .cart-del-or-add .add i {
    padding: 10px;
    background-color: var(--intermediate-color);
    color: #ffffff;
    border-radius: 5px;
    font-size: 10px;
}

.cart-main .cart-del-or-add .add .fa-minus {
    margin-right: 5px;
}

.cart-main .cart-del-or-add .add .fa-plus {
    margin-left: 5px;
}

.summary {
    width: 250px;
    height: fit-content;
    background-color: var(--primary-color);
    box-shadow: 2px 6px 10px var(--secondary-color);
    border-radius: 10px;
    padding: 6px;
}

.summary h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #c8c8c8;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #c8c8c8;
}

.summary-total h4 {
    font-size: 12px;
}

.check-out {
    width: 100%;
    margin-top: 1.5rem;
}

.check-out button {
    width: 100%;
    height: 40px;
    background-color: var(--intermediate-color);
    border: none;
    border-radius: 10px;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px 30px;
    margin: 6rem 0 0;
}

.footer-list .fa-bread-slice {
    color: var(--intermediate-color);
    margin-left: 6px;
}

.footer-list .foot1 {
    width: 280px;
}

.footer-list .foot1 h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-list .foot1 p {
    font-size: 13px;
    margin-bottom: 14px;
}

.footer-list .foot1 ul li {
    display: block;
    line-height: 35px;
    cursor: pointer;
    font-size: 13px;
}

.footer-list .foot-diff ul li {
    display: inline-block;
    margin-left: 15px;
    font-size: 25px;
    transition: .7s;
}

.footer-list .foot-diff2 ul li {
    transition: .7s;
}

.footer-list .foot-diff ul li:hover,
.footer-list .foot-diff2 ul li:hover {
    color: var(--intermediate-color);
}

.footer-list .foot-diff-icon {
    margin-right: 8px;
}

.footer-list .foot-diff3 input {
    display: block;
    margin: 0 0 1rem;
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.footer-list .foot-diff3 button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 1rem;
    background-color: var(--intermediate-color);
    color: hsl(0, 0%, 100%);
    transition: .9s;
}

.foot-copy-right {
    width: 100%;
    padding: 20px 0;
    background-color: var(--intermediate-color);
    text-align: center;
    color: var(--primary-color);
}

@media (max-width: 576px) {
    .nave {
        padding: 20px;
    }

    .logo h3 {
        font-size: 14px;
        margin-right: 10px;
    }

    .info {
        font-size: 13px;
        font-weight: 500;
    }

    .logo .fa-bread-slice {
        font-size: 16px;
    }

    .user-account span,
    .user-cart .cart-img,
    .user-account .fa-chevron-down {
        display: none;
    }

    .user-account .fa-user {
        display: block;
    }

    .cart-main-items {
        display: block;
        padding: 0 10px;
    }

    .cart-main-dis span {
        font-size: 11px;
    }

    .cart-cont {
        width: 100%;
    }

    .summary {
        width: 100%;
        margin: 2rem 0;
    }

    .summary h3,
    .cart-main-dis h5 {
        font-size: 13px;
    }
    
    .footer-list {
        grid-template-columns: auto auto;
        column-gap: 1.5em;
        row-gap: 2em;
    }

    .footer-list .foot-diff ul li {
        font-size: 20px;
    }


    .footer-list .foot1 {
        width: auto;
    }
}

@media (max-width: 428px) {
    .footer-list {
        grid-template-columns: auto;
    }
}